<% @posts.each do |post| unless post.publish == false %>
<table id="post-table">
	<tr>
		<td rowspan="3" onclick=window.location='/posts/<%= post.id %>' style="cursor: pointer;">
			<%= image_tag post.image.url(:medium) %>

			<td id="table-title" onclick=window.location='/posts/<%= post.id %>' style="cursor: pointer;"><%= post.title %>
			</td>
			<tr>
				<td id="table-body" onclick=window.location='/posts/<%= post.id %>' style="cursor: pointer;">	
					<%= truncate(post.body, :length => 225) %>
				</td>
			</tr>
			<tr>
				<td id="table-actions">
					<strong>Anonymous  &middot; <%= post.user.followers_twitter %> Twitter followers</strong> &middot; <span class="glyphicon glyphicon-heart-empty"><%= Random.new.rand(5..30) %></span>
				</td>
			</tr>
		</td>
	</tr>
</table>
<% end %>
<% end %>