
<% @posts.each do |post| %>
<div class="index-post">
<div id="index-header">
  <%= post.title %>
  </div>
  <div id="index-body">
  <%= truncate(post.body, :length => 200) %>
  </div>
  <!-- <%= link_to 'Show', post %>
  <%= link_to 'Edit', edit_post_path(post) %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  </div>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
