    
<div class="row" style="margin-top:-22px">
  <div class="span6">
    <div class="well" style="text-align:left; border-radius: 0px; border-top:2px solid black">
      <h1 style="font-family: lato;padding:20px 0px 20px 10px;" class="write-post">        
        <%= @post.title %> <% if @post.publish == false %> [DRAFT] <% end %>
        <h4 class='write-post' style="padding-left:10px">Found in <% Category.find(@post.category_ids).each do |c| %> 
          <button type="button" onclick=window.location='/categories/<%= c.id %>' class="header-category" style="background-color:<%= c.color %>">
            <%= c.name %>
          </button>
          <% end %>
              <span style="padding-left:20px"></span><%= pluralize @post.reputation_for(:votes).to_i, "" %>  <img src="https://s3.amazonaws.com/unmute/favorite_200.png" id="header-heart" style="margin-left:2px">
            <% if @post.reputation_for(:votes) == 1 %>
          
           <% else %>
          <%= button_to "favorite", vote_post_path(@post, type: "up"), method: "post", class: "header-favorite-button" %>
          <% end %>
        </h4>
        <%= content_tag(:p, notice,  class: 'favorite-notice' ) if notice  %>
      </div>
    </div>
  </div>

  <div class="write-post">
   <% if @post.image.present? %>
   <%= image_tag @post.image(:medium) %>
   <% end %>
   <div id="body">
     <%= simple_format(@post.body, id: 'body') %>
   </div>

   <br>
   <button type="button" onclick=window.location='https://twitter.com/intent/tweet?text=Just+read+an+anonymous+article+on+@unmuteapp.+Check+it+out:+unmute.co/posts/<%= @post.id %>' class="more-in tweet">
    Tweet <%= truncate(@post.title, :length => 30) %>
  </button>
  <br>

  <% Category.find(@post.category_ids).each do |c| %> 
  <div class="write-post">
    <form action="/categories/<%= c.id %>">
      <input class="more-in" type="submit" value="More in '<%= c.name %>'" style="background-color:<%= c.color %>">
    </form>
  </div>
  <% end %>