  <div class="write-post">
  	<% if @post.image.present? %>
  	<%= image_tag @post.image(:medium) %>
  	<div id="header">
  		<%= @post.title %>
  	</div>
  	<div id="body">
  		<%= simple_format(@post.body, id: 'body') %>
  	</div>
  </div>

  <div class="row">
  	<div class="span6 offset3">
  		<div class="well">
  			<% if current_user == @post.user %>
  			<%= link_to 'Edit', edit_post_path(@post) %> |
  			<% end %>
  			<%= link_to 'Back', posts_path %>
  		</div>
  	</div>
  </div>
  <% else %>

  <div id="header">
  	<%= @post.title %>
  </div>
  <div id="body">
  	<%= simple_format(@post.body, id: 'body') %>
  </div>
</div>
<!-- this shows the category ids <%= @post.category_ids %> -->
<!-- This shows whoel record (category id, name, created_at, etc in a bracket [] <%= Category.find(@post.category_ids) %> -->
<!-- prints category name in [""] like ["Sex"] <%= Category.find(@post.category_ids).map{|c| c.name} %> -->

<!--Sex [#<Category id: 13, name: "Sex", created_at: "2014-10-17 20:24:21", updated_at: "2014-10-17 20:24:21">]-->
<%= Category.find(@post.category_ids).each do |category| %>
<%= link_to category.name, category_url(category) %>
<% end %>

<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<% if current_user == @post.user %>
			<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %>
			<%= link_to 'Back', posts_path %>
      More in <%= Category.find(@post.category_ids).each do |category| %>
      <%= link_to category.name, category_url(category) %>
      <% end %>
    </div>
  </div>
</div>
<% end %>