  <div class="write-post">
  	<% if @post.image.present? %>
  	<%= image_tag @post.image(:medium) %>
  	<div id="header">
  		<%= @post.title %>
  	</div>
  	<div id="body">
  		<%= simple_format(@post.body, id: 'body') %>
  	</div>
  </div>

  <div class="row">
  	<div class="span6 offset3">
  		<div class="well">
  			<% if current_user == @post.user %>
  			<%= link_to 'Edit', edit_post_path(@post) %> |
  			<% end %>
  			<%= link_to 'Back', posts_path %>
  		</div>
  	</div>
  </div>
  <% else %>

  <div id="header">
  	<%= @post.title %>
  </div>
  <div id="body">
  	<%= simple_format(@post.body, id: 'body') %>
  </div>
</div>
<!-- <%= @post.category_ids %> -->
<!-- <%= Category.find(@post.category_ids) %> -->
<!-- <%= Category.find(@post.category_ids).map{|c| c.name} %> -->
<%= Category.find(@post.category_ids).each do |category| %>
<%= link_to category.name, category_url(category) %>
s
<% end %>



<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<% if current_user == @post.user %>
			<%= link_to 'Edit', edit_post_path(@post) %> |
			<% end %>
			<%= link_to 'Back', posts_path %>
		</div>
	</div>
</div>
<% end %>